.input {
  &-none {
    border: none;
  }
  &-primary {
    border: 1px solid #d3d9de;
  }
  &-none {
    outline: none;
  }
  &-transparent {
    background: transparent;
  }
  &-primary {
    background: #fff;
  }

  &-large {
    width: 100%;
  }

  &-small {
    padding: 7px 4px;
  }

  &-small {
    border-radius: 5px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 15px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  position: relative;

  &.highlight {
  outline: 2px solid rgba(167, 58, 253, 0.9);;    
  background-color: white;
  }

  .input-icons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 10px;

    .icon:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .input {
    border: none;
    font-size: 16px;
    color: #242424;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;

    &::placeholder {
      color: #D0CFD4;
    }
  }
}



