.profile-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 70%;
  }
  
  .profile-form input[type="file"] {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .block-input-image {
    display: flex;
  }
  
  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  
  .profile-picture img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
  }
  

  @media (max-width: 768px) {

    .profile-container {
      margin-top: 10px;
      width: 90%;
    }

    h2 {
      text-align: center;
    }
    
    .profile-content {
      flex-wrap: wrap;
      justify-content: center;
    }

    .profile-form {
      width: 90%;
    }

    .profile-picture {
      margin-top: 30px;
      width: 90%;
    }
  }

  .recommendations-selector {
    margin-top: 30px;
  }
  
  .category {
    margin-bottom: 20px;
  }
  
  .category-header {
    display: flex;
    align-items: center;
  }
  
  .group-product {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .block-button {
      display: flex;
      justify-content: center;
    }
  }

  .block-recommendation {
    margin-top: 50px;
  }


  .recommendations-selector {
     display: flex; 
     flex-direction: column; 
     gap: 20px;

     .recommendation-groups {
      padding: 0 10px 10px 15px;
      margin-top: -10px;

      .choose-all {
        display: flex;
      }

      .groups-container {
        padding-left: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .checkbox-container {
          display: flex;
          gap: 5px;
        }
      }
     }

     .save-button-block {
      display: flex;
      justify-content: center;
    }
  }

  .recommendation-selector {
    border-bottom: 1px solid gainsboro;
  }

  .recommendation-selector-title {
    padding: 0 14px 5px 20px;
    height: 50px;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }