@import '../../variables';

.header {
    background: linear-gradient(0deg, rgba(36, 36, 36, .05) 0, rgba(36, 36, 36, .05) 100%), linear-gradient(97deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%);;
    position: fixed !important;
    position: relative;
    z-index: 100;
    width: 100%;

    img {
      width: 150px;
      filter: invert(100%);
    }

  & .container {
    display: flex;
    padding: 15px 0 15px 30px;
    gap: 30px;
    width: 95%;
    max-width: 2400px;
    height: 62px;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    padding-top: 15px;
    gap: 70px;

    a {
      cursor: pointer;
      font-family: Ubuntu;
      text-decoration: none;  // Убираем подчеркивание по умолчанию

      &:hover {
        color: $second-primary-color;  // Цвет ссылки при наведении
        text-decoration: underline;  // Добавляем подчеркивание при наведении
      }
    }
  }

  &__hamburger {
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-top: 4px;

    &:hover {
      border: 1px solid white;
    }
  }

  &__input__container {
    width: 100%;
    height: 33px;
    margin-top: 3px;
  }

  &__icon__container {
    display: flex;
    gap: 20px;
    margin-left: 10px;
  }

  &__icon {
    margin-top: 3px;
    text-align: center;
    cursor: pointer;

    &:hover &__text {
      opacity: 0.5;
    }

    & svg {
      font-size: 30px;
      color: white;
    }

    &__text {
      color: rgba(255,255,255,.6);
    }
  }

  &__logo {
    cursor: pointer;
  }

  .header__icon.login:hover .header__modal__login {
    display: flex;
  }

  &__container__login {
    position: relative;
  }

  &__modal__login {
    width: 330px;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: white;
    position: absolute;
    top: 25px;
    right: 1%;
    display: none;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 20px;

    @media (max-width: 768px) {
      width: 280px !important;
    }
  }

  &__modal__profile {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    .header__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 150px;
      }
    }
  
    .header__input__container {
      display: none;
    }
  
    .container {
      width: 90% !important;
      max-width: 90% !important;
      gap: 10px;
      justify-content: space-around;
      padding-left: 20px !important;
      padding-right: 0 !important;

      .header__modal__login {
        width: 230px;
        right: -50px;
        padding: 10px 0;

        .header__modal__profile {
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .header {
    .header__logo {
      img {
        width: 100px;
      }
    }

    .container {
      width: 100%;
      padding-left: 5px !important;
    }
  }
}

