.footer {
  background: linear-gradient(0deg, rgba(36, 36, 36, .05) 0, rgba(36, 36, 36, .05) 100%),
  linear-gradient(97deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%);
  width: 100%;
  bottom: 0;
  
  & .container {
    padding: 15px 30px;
    gap: 30px;
    margin: 0 auto;
  }

  & p {
    color: #C09FE1;
  }
}
